  .img-item{
    width: 50%;
    object-fit: contain;
  }
  
  .loading {
    text-align: center;
    padding: 10px;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
  }
